* {
margin: 0;
padding: 0;
border: 0;
box-sizing: border-box;
width: 100%;
background-color: #f8f8f8;
overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* only needed once */

:-moz-any(#content,#appcontent) browser{
 margin-right:-17px!important;
 overflow-y:scroll;
 margin-bottom:-17px!important;
 overflow-x:scroll;
}


/*mobile*/
@media only screen and (max-width: 812px) {

  .header {
    height: 85vh!important;
  }

  .home-container {
    position: absolute;
    top: 85vh!important;
  }

  #nav {
    display: none!important;
  }

  #nav-mobile {
    position: fixed!important;
    width: 100%;
    height: 52px;
    padding-top: .75em;
    background-color: #f8f8f8;
    text-align: center;
    z-index: 2;
    overflow: hidden;
    display: inline-block!important;
    border-bottom: 1px solid #cccccc;
  }

  #nav-menu-mobile {
    position: fixed;
    width: 100%;
    margin-top: 50px;
    padding: 2% 1% 2% 1%;
    text-align: center;
    font-family: 'Lato', sans-serif!important;
    font-size: 16px;
    font-weight: 600;
    line-height: 40px;
    cursor: pointer;
    display: inline;
    vertical-align: middle;
    color: #262626;
    background-color: #f8f8f8;
    display: none;
    border-bottom: 1px solid #cccccc;
    z-index: 1;
  }

  .nav-logo {
    display:inline-block!important;
  }

  .nav-icon {
    display: inline-block!important;
    position: fixed;
    height: 30px;
    width: auto;
    right: 8%;
  }

  #nav-menu {
    display: none;
  }

  #banner {
    padding: 5% 3%!important;
  }

  .h3-watch-video {
    display: none!important;
  }

  #banner .watch-main {
    width: 90%!important;
    margin: auto;
  }

  #banner .watch-main .watch-box .watch-img {
    width: 100%!important;
    margin: 2px 0 0 0!important;
    display: inline-block;
  }

  #banner .watch-main .watch-box .watch-text {
    width: 100%!important;
    margin: 2px 0 10% 0!important;
    display: inline-block;
    vertical-align: top;
  }

  .footer {
    padding: 1vh 3%!important;
  }

  h6 {
    margin-bottom: 0!important;
  }


  /*Image formatting*/


  /*Video formatting*/

}


@media only screen and (min-width: 1550px) {

  .header {
    height: 30vh!important;
  }

  .home-container {
    top: 30vh!important;
  }

}


.header {
  position: fixed;
  top: 20px;
  height: 60vh;
  width: 100%;
  background-image: url(img/gif.gif);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-color: #fcfcfc;
  text-align: center;
  z-index: -1;
}

.home-container {
  position: absolute;
  top: 60vh;
  border-top: 1px solid #cccccc;
}

#nav {
  position: fixed!important;
  top: 0;
  width: 100%;
  height: 52px;
  padding-top: .75em;
  background-color: #f8f8f8;
  text-align: center;
  z-index: 1;
  overflow: hidden;
  border-bottom: 1px solid #cccccc;
}

#nav-mobile {
  display: none;
}

#nav-menu-mobile {
  display: none;
}

#nav-menu-mobile-video {
  display: none;
}

#banner {
  width: 100%;
  height: 50%;
  padding: 3% 5% 5% 5%;
  text-align: center;
  background-color: #f8f8f8;
}

.footer {
  width: 100%;
  padding: 15px;
  background-color: #212121;
}


/*Watch page styles*/
#banner .watch-main {
  width: 800px;
  margin: auto;
}

#banner .watch-main .watch-box {
  width: 100%;
  display: inline-block;
  margin-top: 3%;
}

#banner .watch-main .watch-box .watch-img {
  width: 300px;
  display: inline-block;
}

#banner .watch-main .watch-box .watch-text {
  width: 40%;
  margin: 2px 0 2px 2%;
  display: inline-block;
  vertical-align: top;
}

/*Image formatting*/

.nav-logo {
  position: absolute;
  top: 3px;
  left: 0;
  height: 46px;
  width: auto;
  z-index: 1;
}

.icon-container {
  width: 200px;
  position: fixed;
  right: 32px;
  top: 15px;
  text-align: right;
}

.icon {
  width: 20px;
  background-color: inherit;
}

.icon-container {
  width: 200px;
  position: fixed;
  right: 32px;
  top: 15px;
  text-align: right;
}

/*Video formatting*/


/*Text formatting*/
.nav-Home, .nav-About, .nav-Watch, .nav-Contact {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: inline;
  vertical-align: middle;
  color: #262626;
  margin: 0 4%;
}


h1 {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 100;
  color: #262626;
  padding: 10px 0 14px 0;
  background-color: #262626;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  font-weight: 100;
  color: #262626;
  padding: 7px 0 10px 0;
  background-color: #f8f8f8;

}

h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 14px;
  color: #262626;
  line-height: 20px;
  text-align: left;
}

h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #262626;
  text-align: left;
}

h5 {
  font-family: Georgia, 'Times New Roman', serif;
  font-weight: 400;
  font-size: 16px;
  color: #262626;
  line-height: 1.5em;
  text-align: left;
}

h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #262626;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
}

.footer-text {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #cccccc;
  padding: 0 5%;
}

.h3-watch-video {
  font-weight: 600!important;
  text-align: right!important;
  cursor: pointer;
}

.h3-category-tag {
  width: 120px;
  font-family: 'Lato', sans-serif!important;
  font-size: 10px;
  font-weight: 600!important;
  line-height: 20px;
  margin: 8px 0 10px 0;
  color: #f8f8f8;
  background-color: #4c629e;
  text-align: center;
  cursor: pointer;
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 12px;
  color: #262626;
  background-color: inherit;
  line-height: 20px;
  text-align: left;
}

a {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: inherit;
  text-decoration: inherit;
}

i {
  background-color: inherit;
}

.date {
  color: #6b6b6b!important;
  line-height: 30px;
  margin-top: 2px;
  font-style: italic;
}
