* {
margin: 0;
padding: 0;
border: 0;
box-sizing: border-box;
width: 100%;
background-color: #f8f8f8;
overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* only needed once */

:-moz-any(#content,#appcontent) browser{
 margin-right:-17px!important;
 overflow-y:scroll;
 margin-bottom:-17px!important;
 overflow-x:scroll;
}


/*mobile*/
@media only screen and (max-width: 812px) {

  .scroll-sign {
    position: fixed;
    bottom: 5%!important;
    z-index: -1;
  }

  .header-logo {
    display: none;
  }

  #nav {
    display: none!important;
  }

  #nav-mobile {
    position: fixed!important;
    width: 100%;
    height: 52px;
    padding-top: .75em;
    background-color: #f8f8f8;
    text-align: center;
    z-index: 2;
    overflow: hidden;
    display: inline-block!important;
    border-bottom: 1px solid #cccccc;
  }

  #nav-menu-mobile {
    position: fixed;
    width: 100%;
    margin-top: 50px;
    padding: 2% 1% 2% 1%;
    text-align: center;
    font-family: 'Lato' sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 40px;
    cursor: pointer;
    display: inline;
    vertical-align: middle;
    color: #262626;
    background-color: #f8f8f8;
    display: none;
    border-bottom: 1px solid #cccccc;
    z-index: 1;
  }

  #nav-menu-mobile-video {
    width: 100%;
    margin-top: 50px;
    padding: 2% 1% 2% 1%;
    text-align: center;
    font-family: 'Lato' sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 40px;
    cursor: pointer;
    display: inline;
    vertical-align: middle;
    color: #262626;
    background-color: #f8f8f8;
    display: none;
    border-bottom: 1px solid #cccccc;
  }

  .nav-logo {
    display:inline-block!important;
  }

  .nav-icon {
    display: inline-block!important;
    position: fixed;
    height: 30px;
    width: auto;
    right: 8%;
  }

  #nav-menu {
    display: none;
  }

  #banner {
    margin-top: 70px;
    padding: 0 3%!important;
  }

  #banner .banner-img {
    width: 96%!important;
    height: auto!important;
    padding: 2% 0 0 0 !important;
  }

  #banner .banner-text {
    width: 100%!important;
    height: auto!important;
    margin-top: 0!important;
    margin-bottom: 11%!important;
    padding: 0 2%!important;
  }

  .h3-watch-video {
    display: none!important;
  }

  .main .category .category-box {
    width: 80%!important;
    display: inline-block;
  }

  .main .category .category-img {
    width: 100%!important;
    height: auto!important;
    cursor: pointer;
    overflow: hidden;
  }

  #banner .page-content {
    width: 100%!important;
    margin-top: 2%;
    padding: 0 2% 80px 2%!important;
    vertical-align: top;
    align: center;
    overflow: auto;
  }

  #banner .page-content .content-media {
    width: 100%!important;
    margin: 0 0!important;
    vertical-align: top;
    align: center;
    overflow: auto;
  }

  #banner .page-content .content-main-media {
    width: 100%!important;
    margin: 0 0!important;
    vertical-align: top;
    align: center;
    overflow: auto;
  }

  #banner .page-content .content-main-media-landscape {
    width: 100%!important;
    margin: 0 0!important;
    vertical-align: top;
    align: center;
    overflow: auto;
  }

  #banner .watch-main {
    width: 90%!important;
    margin: auto;
  }

  #banner .watch-main .watch-box .watch-img {
    width: 100%!important;
    margin: 2px 0 0 0!important;
    display: inline-block;
  }

  #banner .watch-main .watch-box .watch-text {
    width: 100%!important;
    margin: 2px 0 10% 0!important;
    display: inline-block;
    vertical-align: top;
  }

  .content-img-inline-block {
    width: 100%!important;
  }

  .caption {
    text-align: left!important;
  }

  .footer {
    padding: 1vh 3%!important;
  }

  .footer-fixed {
    padding: 1vh 3%!important;
  }

  h6 {
    margin-bottom: 0!important;
  }


  /*Image formatting*/


  /*Video formatting*/

}


@media only screen and (min-width: 1550px) {

  .footer {
    position: fixed!important;
    bottom: 0;
    align: center;
    padding: 15px;
    background-color: #212121;
  }

}

.header {
  width: 100%;
  background-color: #f8f8f8;
  text-align: center;
  z-index: -1;
}

#nav {
  width: 100%;
  height: 52px;
  padding-top: .75em;
  background-color: #f8f8f8;
  text-align: center;
  z-index: 1;
  overflow: hidden;
  border-bottom: 1px solid #cccccc;
}

#nav-mobile {
  display: none;
}

#nav-menu-mobile {
  display: none;
}

#nav-menu-mobile-video {
  display: none;
}

.nav-Watch-sticky {
  position: fixed!important;
  top: 56px;
}

#banner {
  width: 100%;
  height: 50%;
  padding: 0 5%;
  margin-bottom: 2%;
  text-align: center;
  background-color: #f8f8f8;
}

.sticky {
  position: fixed;
  top: 0;
  margin-top: 0!important;
  width: 100%;
}

#banner .banner-img {
  width: 550px;
  height: 100%;
  padding: 2% 3% 0 3%;
  align: right;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
}

#banner .banner-text {
  width: 550px;
  height: 100%;
  margin-top: 2%;
  padding: 0 3% 4% 3%;
  vertical-align: top;
  display: inline-block;
  overflow: auto;
}

.banner-sticky {
  padding-top: 7vh!important;
}

.main {
  width: 100%;
  padding: 0 5%;
  background-color: #f8f8f8;
}

.main .category {
  padding: 2% 0 2% 0;
  margin-bottom: 2%;
  background-color: #f8f8f8;
}

.main .category .category-box {
  width: 24%;
  background-color: #f8f8f8;
  display: inline-block;
}

.main .category .category-img {
  height: 14vw;
  cursor: pointer;
  overflow: hidden;
}

.main .category .category-text {
  padding: 0 5% 0 5%;
  cursor: pointer;
}

.footer {
  width: 100%;
  padding: 15px;
  background-color: #212121;
}

.footer-fixed {
  position: fixed;
  bottom: 0;
  align: center;
  padding: 15px;
  background-color: #212121;
}


/*Watch page styles*/
#banner .watch-main {
  width: 800px;
  margin: auto;
}

#banner .watch-main .watch-box {
  width: 100%;
  display: inline-block;
  margin-top: 3%;
}

#banner .watch-main .watch-box .watch-img {
  width: 300px;
  display: inline-block;
}

#banner .watch-main .watch-box .watch-text {
  width: 40%;
  margin: 2px 0 2px 2%;
  display: inline-block;
  vertical-align: top;
}


/*About page styles*/
#banner .page-content {
  width: 600px;
  margin: auto;
  padding: 0 0 80px 0;
  vertical-align: top;
  overflow: auto;
}

#banner .page-content .content-media {
  width: 500px;
  margin: 0 50px;
  vertical-align: top;
  align: center;
  overflow: auto;
}

#banner .page-content .content-main-media {
  width: 300px;
  margin: 5px 150px;
  vertical-align: top;
  align: center;
  overflow: auto;
}

#banner .page-content .content-main-media-landscape {
  width: 600px;
  margin: 5px 0;
  vertical-align: top;
  align: center;
  overflow: auto;
}

.about-text {
  text-align: justify!important;
  margin-top: 10%;
}


/*Content page styles*/


/*Image formatting*/
.header-logo {
  width: 250px;
  margin: 1.5% 0 1% 0;
  cursor: pointer;
}

.nav-logo {
  position: absolute;
  top: 3px;
  left: 0;
  height: 46px;
  width: auto;
  z-index: 1;
  display: none;
}

.icon-container {
  width: 200px;
  position: fixed;
  right: 32px;
  top: 15px;
  text-align: right;
  display: none;
}

.icon {
  width: 20px;
}

img {
  background-color: inherit;
}

.thumbnail-img {
  width: 100%;
  margin: 0 4% 2% 0;
}

.category-img:hover .thumbnail-img,
.thumbnail-img:focus .thumbnail-img {
  transform: scale(1.05);
  transition: all .5s;
}

.content-img-inline-block {
  width: 40%;
}


/*Text formatting*/
.nav-Home, .nav-About, .nav-Watch, .nav-Contact {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: inline;
  vertical-align: middle;
  color: #262626;
  margin: 0 4%;
}


h1 {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 100;
  color: #262626;
  padding: 10px 0 14px 0;
  background-color: #262626;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  font-weight: 100;
  color: #262626;
  padding: 7px 0 10px 0;
  background-color: #f8f8f8;

}

h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 14px;
  color: #262626;
  line-height: 20px;
  text-align: left;
}

h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #262626;
  text-align: left;
}

h5 {
  font-family: Georgia, 'Times New Roman', serif;
  font-weight: 400;
  font-size: 16px;
  color: #262626;
  line-height: 1.5em;
  text-align: left;
}

h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #262626;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
}

.footer-text {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #cccccc;
  padding: 0 5%;
}

.h3-watch-video {
  font-weight: 600!important;
  text-align: right!important;
  cursor: pointer;
}

.h3-category-tag {
  width: 120px;
  font-family: 'Lato', sans-serif!important;
  font-size: 10px;
  font-weight: 600!important;
  line-height: 20px;
  margin: 8px 0 10px 0;
  color: #f8f8f8;
  background-color: #4c629e;
  text-align: center;
  cursor: pointer;
}

.content-title {
  font-size: 25px!important;
  font-weight: bold;
  color: #262626;
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 12px;
  color: #262626;
  background-color: inherit;
  line-height: 20px;
  text-align: left;
}

.caption {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 12px;
  color: #262626;
  line-height: 20px;
}

a {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: inherit;
  text-decoration: inherit;
}

i {
  background-color: inherit;
}

.date {
  color: #6b6b6b!important;
  line-height: 30px;
  margin-top: 2px;
  font-style: italic;
}
