* {
margin: 0;
padding: 0;
border: 0;
box-sizing: border-box;
width: 100%;
overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* only needed once */

:-moz-any(#content,#appcontent) browser{
 margin-right:-17px!important;
 overflow-y:scroll;
 margin-bottom:-17px!important;
 overflow-x:scroll;
}


/*mobile*/

@media all and (orientation:portrait) {

}

@media only screen and (max-width: 765px) {

  .nav {
    display: none;
  }

  #nav-mobile {
    position: fixed!important;
    width: 100%;
    height: 60px;
    padding-top: .75em;
    background-color: white;
    text-align: center;
    z-index: 3;
    overflow: hidden;
    display: inline-block!important;
  }

  .nav-title {
    display: inline-block!important;
    position: fixed;
    height: 30px;
    top: 18px;
    left: 8%;
    font-family: Montserrat, helvetica, sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-align: left!important;
  }

  #nav-menu-mobile {
    position: fixed;
    width: 100%;
    margin-top: 50px;
    padding: 5% 30px 8% 1%;
    text-align: right;
    font-family: Montserrat, helvetica, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 70px;
    vertical-align: middle;
    color: black;
    background-color: white;
    z-index: 2;
  }

  .main {
    display: inline-block!important;
    position: relative!important;
    width: 84%!important;
    margin: 58px 8% 25% 8%;
    top : 0!important;
    left: 0!important;
    -ms-transform: translate(0, 0)!important;
    transform    : translate(0, 0)!important;
  }

  .footer-fixed {
    display: inline!important;
    position: fixed!important;
    bottom: 0!important;
    background-color: white;
    z-index: 2;
  }

  .icon {
    margin: 15px;
  }

  .about-photo {
    display: none!important;
  }

  .about-photo-mobile {
    display: inline-block!important;
    width: 70%;
    margin: 5% 15% 8% 15%;
  }

  .about-content {
    width: 100%!important;
    text-align: justify;
  }


}



.nav {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 20vw;
  height: 95%;
  font-family: Montserrat, helvetica, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 40px;
}

#nav-mobile {
  display: none;
}

.nav-title {
  display: none;
}

#nav-menu-mobile {
  display: none;
}

.social-media {
  position: fixed;
  bottom: 5%;
}

.main {
  display: inline;
  position: absolute;
  width: 719px;
  top : 46%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform    : translate(-50%, -50%);
}

.about-content {
  display: inline-block;
  width: 500px;
  text-align: justify;
}

.footer-fixed {
  display: none;
}



/*Image formatting*/

.icon {
  width: 20px;
}

.nav-icon {
    display: inline-block;
    position: fixed;
    height: 30px;
    width: auto;
    top: 15px;
    right: 8%;
  }

.about-photo {
    display: inline-block;
    height: 272.8px;
    width: auto;
    margin-left: 20px;
  }

.about-photo-mobile {
  display: none;
}

/*Video formatting*/


/*Text formatting*/

a {
  color: inherit;
  text-decoration: inherit;
}

p {
  font-family: Montserrat, helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}

h2 {
  font-weight: inherit;
  font-size: inherit;
}
