* {
margin: 0;
padding: 0;
border: 0;
box-sizing: border-box;
width: 100%;
overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* only needed once */

:-moz-any(#content,#appcontent) browser{
 margin-right:-17px!important;
 overflow-y:scroll;
 margin-bottom:-17px!important;
 overflow-x:scroll;
}


/*mobile*/

@media all and (orientation:portrait) {

  .landscape {
    display: none!important;
  }

  .portrait {
    display:block!important;
  }

}

@media only screen and (max-width: 812px) {

  .header-img {
    position: absolute;
    top: 2vh;
    left: 2vw;
    width: 40%!important;
    z-index: 0;
  }

  .about-img {
    width: 90%!important;
    margin: 2% 5% 0 5%!important;
    vertical-align: middle;
    display: inline-block;
  }

  .about-text {
    width: 90%!important;
    margin: .7% 5% 5% 5%!important;
    vertical-align: middle;
    text-align: justify!important;
    display: inline-block;
  }


}

.header {
  width: 100%;
  z-index: -2;
  overflow: hidden;
}

.header-img {
  position: absolute;
  top: 2vh;
  left: 4vw;
  width: 20%!important;
  z-index: 0;
}

.landscape {
  display: block;
}

.portrait {
  display:none;
}

.main {
  width: 100%;
  padding: 1.5% 2% 1.5% 2%;
  background-color: #f2f2f2;
  z-index: 2;
}

.category-text {
  padding: 2% 0 0 0;
  cursor: pointer;
}

.about {
  width: 100%;
  padding-top: 1%;
  background-color: #fcfcfc;
}

.about-img {
  width: 30%;
  margin-left: 9%;
  padding: 2% 3% 2% 3%;
  vertical-align: middle;
  display: inline-block;
}

.about-text {
  width: 49%;
  padding: .7% 3% 2% 3%;
  vertical-align: middle;
  display: inline-block;
}


.social-media {
  text-align: right;
}


/*About page styles*/
#banner .page-content {
  width: 100%;
  margin-top: 2%;
  padding: 0 20% 80px 20%;
  vertical-align: top;
  align: center;
  overflow: auto;
}


/*Image formatting*/
.header-logo {
  width: 300px;
  padding: 2vh 0 0 2.5vh;
  cursor: pointer;
  display: block;
  z-index: 5;
}

.icon {
  width: 18px;
  margin: .2% 0 0 2%;
}

.thumbnail-img {
  width: 100%;
  margin: 0 4% 2% 0;
}

.category-img:hover .thumbnail-img,
.thumbnail-img:focus .thumbnail-img {
  transform: scale(1.05);
  transition: all .5s;
}

.fit-height {
  width: 50%;
}

/*Modal*/



/*Video formatting*/
.wrapper {
  cursor: pointer;
  position: absolute;
  top: 10%;
  left: 12%;
  width: 400px;
  z-index: -2;
}

/*Text formatting*/
.nav-Home, .nav-About, .nav-Watch, .nav-Contact {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: inline;
  vertical-align: middle;
  color: white;
  margin: 0 4%;
}

#banner-text {
}

h1 {
  font-family: Helvetica;
  font-size: 20px;
  font-weight: 100;
  color: #444444;
  padding: 10px 0 14px 0;
  background-color: black;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: 100;
  color: black;
  padding: 7px 0 10px 0;
  background-color: white;

}

h3 {
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: 10;
  font-size: 15px;
  line-height: 20px;
  text-align: left;
}


h4 {
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  padding: 8px 0;
  color: white;
  background-color: black;
  cursor: pointer;
}

.content-title {
  font-size: 25px!important;
}

h5 {
  display: inline;
}

p {
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: 100;
  font-size: 15px;
  text-align: left;
}

a {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: inherit;
}

.date {
  color: #6b6b6b!important;
  line-height: 28px;
}
