* {
margin: 0;
padding: 0;
border: 0;
box-sizing: border-box;
width: 100%;
overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* only needed once */

:-moz-any(#content,#appcontent) browser{
 margin-right:-17px!important;
 overflow-y:scroll;
 margin-bottom:-17px!important;
 overflow-x:scroll;
}


/*mobile*/

@media all and (orientation:portrait) {

}

@media only screen and (max-width: 940px) {

  .nav {
    display: none;
  }

  #nav-mobile {
    position: fixed!important;
    width: 100%;
    height: 60px;
    padding-top: .75em;
    background-color: white;
    text-align: center;
    z-index: 3;
    overflow: hidden;
    display: inline-block!important;
  }

  .nav-title {
    display: inline-block!important;
    position: fixed;
    height: 30px;
    top: 18px;
    left: 8%;
    font-family: Montserrat, helvetica, sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-align: left!important;
  }

  #nav-menu-mobile {
    position: fixed;
    width: 100%;
    margin-top: 50px;
    padding: 5% 30px 8% 1%;
    text-align: right;
    font-family: Montserrat, helvetica, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 70px;
    vertical-align: middle;
    color: black;
    background-color: white;
    z-index: 2;
  }

  .footer-fixed {
    display: inline!important;
    position: fixed!important;
    bottom: 0!important;
    background-color: white;
  }

  .home-content {
    width: 90%!important;
    padding-top: 0!important;
    position: absolute;
    top : 48%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform    : translate(-50%, -50%);
  }

  .icon {
    margin: 15px;
  }

}


@media only screen and (min-width: 2100px) {

  .home-content {
    width: 1280px!important;
    top : 48%;
    left: 50%!important;
  }

}


.nav {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 20vw;
  height: 95%;
  font-family: Montserrat, helvetica, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 40px;
}

#nav-mobile {
  display: none;
}

.nav-title {
  display: none;
}

#nav-menu-mobile {
  display: none;
}

.social-media {
  position: fixed;
  bottom: 5%;
}

.main {
  display: inline-block;
  height: 95vh;
}

.home-content {
  width: 600px;
  margin: auto;
  position: absolute;
  top : 48%;
  left: 49%;
  -ms-transform: translate(-50%, -50%);
  transform    : translate(-50%, -50%);
}

.footer-fixed {
  display: none;
}



/*Image formatting*/

.icon {
  width: 20px;
}

.nav-icon {
    display: inline-block;
    position: fixed;
    height: 30px;
    width: auto;
    top: 15px;
    right: 8%;
  }

/*Video formatting*/


/*Text formatting*/

a {
  color: inherit;
  text-decoration: inherit;
}

h2 {
  font-weight: inherit;
  font-size: inherit;
}
